<div class="container pt-3">
    <div class="jumbotron">
        <button class="btn btn-primary" (click)="getPDF()">Export As Pdf</button>
    </div>

    <div id="content" style="border: 3px solid rgb(153, 201, 240);">
        <p class="lead p-3">
            I'm writing a product requirement document (PRD) for the first time, and I'll admit, I didn't know quite where to start. But I did know one thing: I knew that I was skeptical of such a time-intensive, technical document. Before I came back to grad school,
            I was a project manager on a marketing team using agile methodologies. I was indoctrinated into one scrum principle in particular: Employ minimally sufficient ceremony. In other words, document-centric, process-heavy, high-ceremony approaches
            cost time and effort. Only document what you need to document. Simplify or eliminate processes whenever possible. Get rid of unnecessary formality. Yet here I am, tasked with writing a dense document that's just there to reiterate what the
            prototype already demonstrates, right? Well, maybe. But I've learned two things. First, minimally sufficient ceremony doesn't mean no documentation ever, and when it comes to building a product, there does need to one source of truth that
            leaves little open to interpretation. Second, as the product designer who's been working on UX for months now, I forget what's obvious in the clickable prototype vs. what's still on a sketch somewhere, particularly when it comes to interaction
            design and content strategy. So, with that in mind, I'm trying my best to translate the design in a PRD with just enough detail that the developer gets it, but without slipping over the line into bloated documentation. Wish me luck! In the
            mean time, here are a handful of resources that I've found helpful: The One-Pager Template This guide gives insight into how to make a lean PRD that fits into an agile approach. It walks through types of components usually found in PRDs and
            how to keep it all short and sweet. (via Atlassian) The Many-Pager Team.</p>
    </div>
</div>